.searchbar {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--grey);
  border-radius: 0.15em;
  overflow: hidden;
  height: 2rem;
  width: 80%;
  max-width: 40rem;
}

.searchbar__input {
  font-size: 1rem;
  padding: 0.7rem;
  outline: none;
  border: none;
  flex: 1;
  min-width: 0;
}

.searchbar_button {
  padding: 0 1.56rem;
  background: var(--lightgrey);
  color: var(--darkgrey);
  border: none;
  border-left: 1px solid var(--grey);
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
}

@media (max-width: 700px) {
  .searchbar {
    display: none;
  }
}
