.navbar {
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 1rem;
  top: 0;
  left: 0;
  background: white;
}

.navbar__burger__button {
  padding: 0.8rem;
  cursor: pointer;
}

.logo {
  width: 5rem;
  margin-left: 0.5rem;
}

.navbar__main {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
}

.navbar__main--right {
  display: flex;
  align-items: center;
  color: var(--darkergrey);
}

.navbar__main--right > i {
  cursor: pointer;
}

.navbar__main--right > * + * {
  margin-left: 1.8rem;
}

.navbar__search {
  display: none;
}

@media (max-width: 700px) {
  .searchbar {
    display: none;
  }

  .navbar__search {
    display: block;
  }
}
